{% extends "base_generic.html" %}

{% block title %}
  <title>The Local Library</title>

{% endblock %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>
    Welcome to LocalLibrary, a website developed by
    <em>Mozilla Developer Network</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul class="list-group col-sm-3 border border-black ">
    <li class="list-group-item d-flex justify-content-between align-items-center border border-black bg-transparent">
      <strong>Books:</strong>
      <span class="badge text-bg-primary rounded-pill">{{ num_books }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border border-black bg-transparent">
      <strong>Copies:</strong>
      <span class="badge text-bg-primary rounded-pill">{{ num_instances }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border border-black bg-transparent">
      <strong>Copies available:</strong>
      <span class="badge text-bg-primary rounded-pill">{{ num_instances_available }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border border-black bg-transparent">
      <strong>Authors:</strong>
      <span class="badge text-bg-primary rounded-pill">{{ num_authors }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border border-black bg-transparent">
      <strong>Genres:</strong>
      <span class="badge text-bg-primary rounded-pill">{{ num_genres }}</span>
    </li>
  </ul>

  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}