{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed Books</h1>

    {% if bookinstance_list %}
    <ul class="list-group">

      {% for bookinst in bookinstance_list %}
      <li class="list-group-item d-flex bg-transparent {% if bookinst.is_overdue %}text-danger{% endif %}">
        <div class="ms-2 me-auto">
          <div class="fw-bold">
            <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
          </div>
          Date due: ({{ bookinst.due_back }})
        </div>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}
